[submodule "remotes/facebook-sdk"]
	path = remotes/facebook-sdk
	url = git@github.com:pythonforfacebook/facebook-sdk.git
[submodule "remotes/SpiffWorkflow"]
	path = remotes/SpiffWorkflow
	url = git@github.com:chrisns/SpiffWorkflow.git
[submodule "remotes/endpoints-proto-datastore"]
	path = remotes/endpoints-proto-datastore
	url = git@github.com:GoogleCloudPlatform/endpoints-proto-datastore.git
[submodule "remotes/requests"]
	path = remotes/requests
	url = git://github.com/kennethreitz/requests.git
