<!doctype html>
<html class="no-js" ng-app>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>WC</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/sass-bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="wcApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="container">

      <nav class="navbar navbar-default" role="navigation" ng-controller="FacebookCtrl" data-ng-show="facebookReady">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle glyphicon glyphicon-th-list" data-toggle="collapse" data-target="#bs-navbar">
            <span class="sr-only">Toggle navigation</span>
          </button>
          <a class="navbar-brand" ui-sref="index">WC</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-navbar">
          <ul class="nav navbar-nav">
            <li ui-sref-active="active"><a ui-sref="index">Home</a></li>
            <li ui-sref-active="active"><a ui-sref="history" data-ng-show="user.id">My History</a></li>
            <li ui-sref-active="active"><a ui-sref="execution_new" data-ng-show="user.id">New</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <li><a data-ng-hide="user.id" href="#" ng-click="login()">Login</a></li>
            <li class="dropdown">
              <a data-ng-show="user.id" href="" class="dropdown-toggle" data-toggle="dropdown">{{user.name}}<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li ui-sref-active="active"><a ui-sref="history">History</a></li>
                <li class="divider"></li>
              <li><a href="#" ng-click="logout()">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>

      <div ui-view></div>

      <div class="footer">
        <p><span class="glyphicon glyphicon-heart"></span> from <a href="http://cns.me">cns.me</a></p>
      </div>
    </div>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <script src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.14/require.min.js" data-main="scripts/main.js"></script>
    <script>
      (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
          (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
      })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

      ga('create', 'UA-3657987-5', 'auto');

    </script>
  </body>
</html>
