<p>This is the list_executions view.</p>
<table class="table table-hover table-striped executions-list">
  <thead>
    <tr>
      <th>Company</th>
      <th>Created</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="execution in executions" ui-sref="executionview({execution_id: execution.execution_id})">
      <td>{{execution.values.company}}</td>
      <td>{{execution.created | date : 'medium'}}</td>
      <td><button class="btn btn-danger btn-xs" ng-click='delete(execution)'>Delete</button></td>
    </tr>
  </tbody>
</table>