<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">wc</h3>
</div>

<div class="jumbotron">
  <!-- <h1>'Allo, 'Allo!</h1> -->
</div>

<div class="row marketing">
    <form class="form-horizontal">
      <div ng-model="input" fb-form="capture" fb-default="captureValue"></div>
      <div class="form-group">
        <div class="col-md-8 col-md-offset-4">
          <input class="btn btn-lg btn-success" type="submit" ng-click="submit()" class="btn btn-default"/>
        </div>
      </div>
    </form>


<div class="footer">
</div>
